body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-big{
    height: 100vh;
    width: 100%;
    display: flex;
}

.container-list-chat{
    width:35%;
    height: 100vh;
}
.container-chat{
    width:65%;
   
    height: 100vh;
}

.container-profile{
    background-color: #e7e7e7;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.my-profile{
    height: 100%;
}

.my-profile > img {
    height: 90%;   
    border-radius: 50px;

}

.container-icon-profile{

}


.container-notifiche{
    background-color: tomato;
    height: 60px;
}

.container-search-chat{
    height: 40px;
    background-color: violet;
}

.chat-list{
    display: flex;
    align-items: center;
    padding: 5px 0px;
    cursor: pointer;
    border-top:1px solid #e7e7e7;
}
.chat-list > img {
    height: 60px;
    border-radius: 50px;
}

.container-utente{
    background-color: #e7e7e7;
    height: 70px;
    align-items: center;
}

.backgroud-image{
    height: 90vh;
    background-image: url(/img/mine.jpg);
}
.container-utente{
    display: flex;
}
img{
    height: 60px;
    border-radius: 50px;
}
p{
    margin: 0;
    padding: 10px;
}
.backgroud-image{
    position: relative;
    height: calc(100vh - 140px);
}
.sent {
    background-color: yellow;
    color: black;
    right: 70px;
    top: 70px;
    
}

.received {
    background-color: white;
    color: black;
    /* position: absolute; */
    left: 70px;
    top: 70px;
}
.container-send-message{
    display: flex;
    align-items: center;
    text-align: center;
    height: 70px;
    background-color: #e7e7e7;
}
.input-message{
    width: 80%;
    text-align: center;
}
.input-message > input{
    width: 100%;
    border: none;
    padding: 10px 0px;
    border-radius: 5px;
}
.emoji, .voice-message{
    width: 20%;
    text-align: center;
    
}
.emoji img,
.voice-message > img {
    width: 15%;
    text-align: center;
}
