body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-big{
    height: 100vh;
    width: 100%;
    display: flex;
}

.container-list-chat{
    width:35%;
    height: 100vh;
}
.container-chat{
    width:65%;
   
    height: 100vh;
}

.container-profile{
    background-color: #e7e7e7;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-icon-profile{
    display: flex;
    align-items: center;
}
.icon-myprofile > img{
    height: 23px;
    margin: 0px 10px 0px 10px;
    filter: opacity(0.5);
}
.my-profile{
    height: 100%;
    display: flex;
    align-items: center;
}

.my-profile > img {
    height: 90%;   
    border-radius: 50px;

}



.container-notifiche{
    background-color: #9fd8f9;
    height: 60px;
    display: flex;
    align-items: center;
}

.container-bell{
    width: 10%;
    height: 80%;
    text-align: center;
    background-color: white;
    margin: 40px 10px 40px 20px;
    border-radius: 50px;
}
.container-gray{
    background-color: #e7e7e7;
    padding: 5px;
}
.container-bell > img{
    margin-top: 10px;
    height: 50%;
}

.container-text-notifications > p{
    padding: 0;
}

.container-search-chat{

    background-color: #e7e7e7;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;

}
.container-search-chat {
    width: 100%;
    background-color: white;
    border-radius: 3px;
    
}
.container-search-user{
    width: 10%;
    
}
.container-search-user > img{
    width: 40%;
    height: 40%;
}
.container-search-input {
    width: 100%;
    margin: auto;
    border: none;
}
.container-search-input > input {
    width: 90%;
    margin: auto;
    border: none;
    padding:5px;
}
.search-user{
    width: 100%;
    vertical-align: middle;
}

.chat-list{
    display: flex;
    align-items: center;
    padding: 5px 0px;
    cursor: pointer;
    border-top:1px solid #e7e7e7;
    margin-left: 15px;
}
.chat-list > img {
    height: 60px;
    border-radius: 50px;
}

.container-utente{
    background-color: #e7e7e7;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-utente > div{
    display: flex;
    align-items: center;
}

.backgroud-image{
    height: 90vh;
    background-image: url(/img/mine.jpg);
    padding-top: 90px;
}
.container-utente{
    display: flex;
}
img{
    height: 60px;
    border-radius: 50px;
}
p{
    margin: 0;
    padding: 10px;
}
.backgroud-image {
    position: relative;
    height: calc(100vh - 140px - 90px);
    display: flex;
    flex-direction: column; /* Imposta la direzione di layout a colonna */
}

.sent, .received {
    width: 100%;
    max-width: 30%;
    margin-bottom: 10px;
    padding: 15px 0px 15px 20px;
    border-radius: 10px;
}

.sent {
    background-color: #DCF8C6;
    color: #000;
    margin-left: auto;
    margin-right: 70px;
}

.received {
    background-color: #FFF;
    color: #000;
    margin-right: auto;
    margin-left: 70px;
    
}

.container-send-message{
    display: flex;
    align-items: center;
    text-align: center;
    height: 70px;
    background-color: #e7e7e7;
}
.input-message{
    width: 80%;
    text-align: center;
}
.input-message > input{
    width: 100%;
    border: none;
    padding: 10px 0px;
    border-radius: 5px;
}
.emoji, .voice-message{
    width: 20%;
    text-align: center; 
}
.emoji img,
.voice-message > img {
    width: 15%;
    text-align: center;
}
