<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div id="app">
        <div class="container-big">

            <div class="container-list-chat">
                <div class="container-profile">
                    <div class="my-profile">
                        <img src="img/avatar_io.jpg">
                        <p>Sofia</p>
                    </div>

                    <div class="container-icon-profile">
                        <div class="icon-myprofile">
                            <img src="img/circle-notch-solid.svg">
                        </div>
                        <div class="icon-myprofile">
                            <img src="img/message-solid.svg">
                        </div>
                        <div class="icon-myprofile">
                            <img src="img/ellipsis-vertical-solid.svg">
                        </div>
                    </div>
                    
                </div>
                <div class="container-notifiche">
                    <div class="container-bell">
                        <img src="img/bell-slash-solid.svg">
                    </div>
                    <div class="container-text-notifications">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <p>Attiva notifiche desktop</p>
                    </div>
                </div>
                <div class="container-gray">
                    <div class="container-search-chat">
                        <div class="container-search-user" >
                            <img @click="searchUser()" src="img/magnifying-glass-solid.svg" class="search-user" >
                        </div>
                        <div>
                            <div class="container-search-input">
                                <input type="search" v-model="searchTerm"  placeholder="Cerca contatti">
                            </div>
                        </div>
                      
                    </div>
                </div>
                
                <div v-for="(lista, index) in contacts" @click="clickChat(index)"  class="chat-list">
                    <img :src="lista.avatar">
                    <p>{{lista.name}}</p>
                </div>
            </div>
            <div class="container-chat">
                <div class="container-utente">
                    <div>
                        <img :src="contacts[contatore].avatar">
                        <span>{{contacts[contatore].name}}</span>
                    </div>
                    <div>
                        <div class="icon-myprofile">
                            <img src="img/magnifying-glass-solid.svg">
                        </div>
                        <div class="icon-myprofile">
                            <img src="img/paperclip-solid.svg">
                        </div>
                        <div class="icon-myprofile">
                            <img src="img/ellipsis-vertical-solid.svg">
                        </div>
                    </div>
                
                </div>
                <div class="backgroud-image">
                    <div v-for="message in contacts[contatore].messages"  class="message-chat">
                        <!-- <p :class="{ 'send': contacts[contatore].messages[contatore].message}" >{{ contacts[contatore].messages[contatore].message }}</p> -->
                        <p :class="{ 'sent': message.status === 'sent', 'received': message.status === 'received' }">{{ message.message }}</p>
                    </div>
                </div>
                <div class="container-send-message">
                    <div class="emoji">
                        <img src="img/face-smile-regular.svg">
                    </div>
                    <div class="input-message">
                        <input v-model="valueMessage" type="text" placeholder="Scrivi un messaggio" >
                    </div>
                    <div class="voice-message">
                        <img src="img/paper-plane-regular.svg" @click="addMessage()">
                    </div>
                    <div class="voice-message">
                        <img src="img/face-smile-regular.svg">
                    </div>
                </div>
            </div>
            
        </div>
    </div>


    <script src="boolzapp.js"></script>
    
</body>
</html>